# .env.template
# Add your YouTube API key here
NEXT_PUBLIC_YOUTUBE_API_KEY=

# Set NEXT_PUBLIC_IS_MOCK to true if YouTube API isn't work (not recommend, only returns 3 results)
NEXT_PUBLIC_IS_MOCK=false